html {
    overflow-y: scroll;
    height: 100vh;
}
body {
    height: 100vh;
    margin: 0;
    position: absolute;
    font-family: sans-serif;
    color: rgb(53, 35, 23);
}
.header{
    display: flex;
    background-color: #f0cf58;
    flex: auto;
    flex-direction: column;
}
.topper{
    display: flex;
    padding: 0% 5% 0% 5%;
}

.right-links{
    display: flex;
    margin-left: auto;
    
}
.right-links ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 20px;
    align-items: center;
}
.image-header{
   display: flex;
   flex: 0 auto;
   align-content: center;
   justify-content: space-around;
}
.image-header img{
    width: 50%;
    height: 60%;
    border-radius: 10px;
    clip-path: inset(5% 13% 15% 10% round 5%);
    
}
.header-info{
    display: flex;
    padding: 5% 15% 5% 25%;
    flex: 0 auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.header-stuff{
    display: flex;
    flex-direction: column;
}
.header-stuff h2{
    font-size: 48px;
    font-weight: bolder;
}
.header-stuff p{
    font-size: 18px;
    color: rgb(53, 39, 23);
}
.header-stuff button {
    background: rgb(53, 39, 23);
    border: 1px solid rgb(53, 39, 23);
    color: #e7c340;
    width: 150px;
    border-radius: 4px;
    font-size: 18px;
  }
  .info{
    display: flex;
    flex-direction: column;
    padding: 5% 15% 5% 15%;
    background-color: #eedb92;
  }
  .info-lleno{
    display: flex;
    justify-content: space-around;
    
      
  }
  .info-lleno img{
    border-radius: 10px;
    float: left;
    width:  150px;
    height: 150px;
    object-fit: cover;
    border-style: groove;
  }
  .info-lleno div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .info-lleno p{
    display: flex;
    text-align: center;
    padding: 0px 10px 0px 10px;
  }
  .info-title{
    text-align: center;
    padding-bottom: 5%;
  }
  .taco{
    margin-left: -8%;
    padding: 5%;
  }
  .content{
    display: flex;
    flex-direction: column;
    padding: 5% 15% 5% 15%;
    background-color: #e6cf7d;
  }
  .content p{
    font-style: italic;
  }
  .autor{
    text-align: end;
    padding-right: 10%;
  }
  .frase{
    padding-left: 5%;
  }
  .cta{
    display: flex;
    padding: 5% 15% 5% 15%;
    background-color: #eedb92;
    justify-content: center;
  }
  .bck{
    display: flex;
    flex: 0 auto;
    color: #eedb92;
    background-color: rgb(53, 35, 23);
    border-radius: 5px;
    justify-items: center;
    align-items: center;
  }
  .bck-txt{
    padding: 10%;
  }
  .bck-btn{
    display: flex;
    padding: 5% 15% 5% 15%;
  }
  .bck button{
    border-width: 2px;
    border-color: #eedb92;
    background-color: rgb(53, 35, 23);
    border-radius: 4px;
    color: #eedb92;
    font-weight: bold;
    padding: 5% 15% 5% 15%;
  }
  .footer{
    display: flex;
    flex:  0 auto;
    background-color: #f0cf58;
    justify-content: center;

  }